.modalvfr-bg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  transition: opacity 0.5s ease-out;

 }

.modalvfr-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 55px;
  width: 80%; /* Could be more or less, depending on screen size */
  box-shadow: 3px 3px 10px rgba(0 0 0 / 0.5);
}

.closevfr {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closevfr:hover,
.closevfr:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
